[user]
	name = Danail Dimitrov
	email = dandimitrov@asteasolutions.com
[push]
	default = simple

[color]
	  branch = auto
	    diff = auto
	      status = auto

[color "branch"]
	  current = yellow reverse
	    local = yellow
	      remote = green

[color "diff"]
	  meta = yellow bold
	    frag = magenta bold
	      old = red bold
	        new = green bold

[color "status"]
	  added = yellow
	    changed = green
	      untracked = red
[branch]
	autosetuprebase = never
[pull]
	rebase = false
[merge]
	tool = meld
[core]
	editor = vim
	excludesfile = /home/dandimitrov/.gitignore_global
[diff]
	tool = meld
